body{background-color: black;
 }   
 
 .parr{
  border-radius: 5px;
  background-color: grey;
 } 
 
 p{color: white;} 
 
 h1{
     color: white;
 } 
 button {
  background-color: #FF747474 !important;
  color: #FF000000 !important;
  font-weight: bold;
  width: 200px;
  height: 30px;
 }
#contenedor { color:white;
            }
